@model MvcSomeren.Models.Lecturer

@{
    ViewData["Title"] = "Add new Lecturer";
}

<div>
    <h4>New Lecturer</h4>
    <form action="/Lecturers/Create" method="post">
        @if (ViewData.ModelState["AlreadyExist"] != null)
        {
            <span class="text-danger">@ViewData.ModelState["AlreadyExist"]?.Errors.FirstOrDefault()?.ErrorMessage</span>
        }
        <div class="form-group py-2">
            <label for="FirstName">First Name:</label>
            <input type="text" id="FirstName" name="FirstName" class="form-control" required value="@Model?.FirstName"/>
        </div>
        <div class="form-group py-2">
            <label for="LastName">Last Name:</label>
            <input type="text" id="LastName" name="LastName" class="form-control" required value="@Model?.LastName"/>
        </div>
        <div class="form-group py-2">
            <label for="PhoneNumber">Phone Number:</label>
            <input type="text" id="PhoneNumber" name="PhoneNumber" class="form-control" required value="@Model?.PhoneNumber"/>
        </div>
        <div class="form-group py-2">
            <label for="Age">Age:</label>
            <input type="number" id="Age" name="Age" class="form-control" required value="@Model?.Age"/>
        </div>
        <div class="form-group py-2">
            <label for="RoomId">Room:</label>
            <input type="number" id="RoomId" name="RoomId" class="form-control" required value="@Model?.RoomId"/>
        </div>
        <button type="submit" class="btn btn-primary">Add Lecturer</button>
    </form>
    <a href="/Lecturers/Index" class="btn btn-secondary">Back to Lecturer List</a>
</div>