@model MvcSomeren.Models.Lecturer

@{
    ViewData["Title"] = "Delete Lecturer";
}

<div>
    <h4>Delete Lecturer</h4>
    <form action="/Lecturers/Delete" method="post">
        <input hidden type="number" name="id" value="@Model?.Id"/>
        <div class="form-group py-2">
            <label for="FirstName">First Name:</label>
            <input type="text" id="FirstName" name="FirstName" class="form-control" readonly value="@Model?.FirstName"/>
        </div>
        <div class="form-group py-2">
            <label for="LastName">Last Name:</label>
            <input type="text" id="LastName" name="LastName" class="form-control" readonly value="@Model?.LastName"/>
        </div>
        <div class="form-group py-2">
            <label for="PhoneNumber">Phone Number:</label>
            <input type="text" id="PhoneNumber" name="PhoneNumber" class="form-control" readonly value="@Model?.PhoneNumber"/>
        </div>
        <div class="form-group py-2">
            <label for="Age">Age:</label>
            <input type="number" id="Age" name="Age" class="form-control" readonly value="@Model?.Age"/>
        </div>
        <div class="form-group py-2">
            <label for="RoomId">Room:</label>
            <input type="number" id="RoomId" name="RoomId" class="form-control" readonly value="@Model?.RoomId"/>
        </div>

        <button type="submit" class="btn btn-primary">Delete Lecturer</button>
    </form>
    <a href="/Lecturers/Index" class="btn btn-secondary">Back to Lecturer List</a>
</div>