@model MvcSomeren.Models.Supervisor

@{
    ViewData["Title"] = "Add new Supervisor";
}

<div>
    <div class="d-flex justify-content-center mr-6 my-lg-5">
        <h4>New Supervisor</h4>
    </div>
    <div class="d-flex justify-content-center mb-4">
        <a href="/Supervisors/Index" class="back-to-list mx-4">Back to Supervisor List</a>
    </div>
    <form action="/Supervisors/Create" method="post">
        @*@if (ViewData.ModelState["ValidationError"] != null)
        {
            <span class="text-danger">@ViewData.ModelState["ValidationError"]?.Errors.FirstOrDefault()?.ErrorMessage</span>
        }*@
        <div class="form-group row">
            <div class="form-group col-md-6 form-control-lg">
                <label for="SupervisorId">Supervisor Id:</label>
                <input type="text" id="SupervisorId" name="SupervisorId" class="form-control" required
                       value="@Model?.SupervisorId"/>
            </div>
            <div class="form-group col-md-6 form-control-lg">
                <label for="SupervisingDate">Supervising Date:</label>
                <input type="text" id="SupervisingDate" name="SupervisingDate" class="form-control" required
                       value="@Model?.SupervisingDate"/>
            </div>
        </div>
        <div class="form-group row">
            <div class="form-group col-md-6 form-control-lg">
                <label for="LecturerId">Lecturer Id:</label>
                <input type="number" id="LecturerId" name="LecturerId" class="form-control" required
                       value="@Model?.LecturerId"/>
            </div>
            <div class="form-group col-md-6 form-control-lg">
                <label for="ActivityId">Activity Id:</label>
                <input type="number" id="ActivityId" name="ActivityId" class="form-control" required
                       value="@Model?.ActivityId"/>
            </div>
        </div>
        <div class="mx-1 my-4">
            <button type="submit" class="button-save">Add Supervisor</button>
        </div>
    </form>
</div>