@model MvcSomeren.Models.Student

@{
    ViewData["Title"] = "Delete Student";
}

<div>
    <h4>Delete Student</h4>
    <form action="/Students/Delete" method="post">
        @if (ViewData.ModelState["AlreadyExist"] != null)
        {
            <span class="text-danger">@ViewData.ModelState["AlreadyExist"]?.Errors.FirstOrDefault()?.ErrorMessage</span>
        }
        
        <div class="form-group py-2">
            <label for="StudentNumber">Student Number:</label>
            <input type="number" id="StudentNumber" name="StudentNumber" class="form-control" readonly value="@Model?.StudentNumber"/>
        </div>
        
        <div class="form-group py-2">
            <label for="StudentFirstName">First Name:</label>
            <input type="text" id="StudentFirstName" name="FirstName" class="form-control" readonly value="@Model?.StudentFirstName"/>
        </div>
        <div class="form-group py-2">
            <label for="StudentLastName">Last Name:</label>
            <input type="text" id="StudentLastName" name="LastName" class="form-control" readonly value="@Model?.StudentLastName"/>
        </div>
        <div class="form-group py-2">
            <label for="StudentPhoneNumber">Phone Number:</label>
            <input type="text" id="StudentPhoneNumber" name="PhoneNumber" class="form-control" readonly
                   value="@Model?.StudentPhoneNumber"/>
        </div>
        <div class="form-group py-2">
            <label for="StudentClass">Class:</label>
            <input type="text" id="StudentClass" name="Class" class="form-control" readonly value="@Model?.StudentClass"/>
        </div>
        <div class="form-group py-2">
            <label for="Room">RoomId:</label>
            <input type="number" id="Room" name="Room" class="form-control" readonly value="@Model?.RoomId"/>
        </div>

        <button type="submit" class="button-save">Delete</button>
    </form>
    <a href="/Students/index" class="back-to-list">Back to List</a>
</div>

<!-- Add Bootstrap Icons (for Edit and Delete buttons) -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">