@model MvcSomeren.Models.Room
@{
	ViewData["Title"] = "Delete Room";
}

<div>
	<div class="d-flex justify-content-center mr-6 my-lg-5">
		<h2>Delete Room</h2>
	</div>

	<div class="d-flex justify-content-center mb-4">
		<a href="/Rooms/Index" class="back-to-list mx-4">Back to List</a>
	</div>
	<form action="/Rooms/Delete" method="POST">

		<input hidden type="number" name="RoomId" value="@Model?.RoomId" />

		<div class="form-group row">
			<div class="form-group form-control-lg">
				<label for="RoomNumber">Room Number:</label>
				<input type="number" id="RoomNumber" name="RoomNumber" class="form-control" readonly value="@Model?.RoomNumber" />
			</div>
		
			<div class="form-group col-md-6 form-control-lg">
				<label for="RoomSize">Room Size:</label>
				<input type="number" id="RoomSize" name="RoomSize" class="form-control" readonly value="@Model?.RoomSize" />
			</div>

			<div class="form-group col-md-6 form-control-lg">
				<label for="RoomType">Room Type:</label>
				<input type="text" id="RoomType" name="RoomType" class="form-control" readonly value="@Model?.RoomType" />
			</div>

			<div class="form-group col-md-6 form-control-lg">
				<label for="Building">Building:</label>
				<input type="text" id="Building" name="Building" class="form-control" readonly value="@Model?.Building" />
			</div>

			<div class="form-group col-md-4 form-control-lg">
				<label for="Floor">Floor:</label>
				<input type="number" id="Floor" name="Floor" class="form-control" readonly value="@Model?.Floor" />
			</div>
		</div>

		<div class="mx-1 my-4">
			<button type="submit" class="button-save">Delete</button>
		</div>
	</form>
</div>