@model MvcSomeren.Models.Room
@{
	ViewData["Title"] = "Delete Room";
}


<h4>Delete Room</h4>
<form action="/Rooms/Delete" method="POST">
	<input hidden type="number" name="RoomId" value="@Model?.RoomId" />

	<div class="form-group py-2">
		<label for="RoomNumber">Room Number:</label>
		<input type="number" id="RoomNumber" name="RoomNumber" class="form-control" readonly value="@Model?.RoomNumber" />
	</div>

	<div class="form-group py-2">
		<label for="RoomSize">Room Size:</label>
		<input type="number" id="RoomSize" name="RoomSize" class="form-control" readonly value="@Model?.RoomSize" />
	</div>

	<div class="form-group py-2">
		<label for="RoomType">Room Type:</label>
		<input type="text" id="RoomType" name="RoomType" class="form-control" readonly value="@Model?.RoomType" />
	</div>

	<div class="form-group py-2">
		<label for="Building">Building:</label>
		<input type="text" id="Building" name="Building" class="form-control" readonly value="@Model?.Building" />
	</div>

	<div class="form-group py-2">
		<label for="Floor">Floor:</label>
		<input type="number" id="Floor" name="Floor" class="form-control" readonly value="@Model?.Floor" />
	</div>

	<button type="submit" class="btn btn-primary">Delete</button>
</form>

<a href="/Rooms/Index">Back to List</a>
