@model MvcSomeren.Models.ManageParticipantViewModel

@{
    ViewData["Title"] = "Delete Participant";
}

<div>
    <div class="d-flex justify-content-center mr-6 my-lg-5">
        <h4>Delete Participant</h4>
    </div>
    <div class="d-flex justify-content-center mb-4">
        <a href="/ManageParticipators/Index" class="back-to-list mx-4">Back to Participant List</a>
    </div>
    <form asp-action="DeleteParticipant" asp-controller="ManageParticipators" method="post">
        <input hidden type="number" name="id" value="@Model?.Participator.ParticipatorId" />
        <div class="form-group row">
            <div class="form-group col-md-6 form-control-lg">
                <label for="Name">Student:</label>
                <input type="text" id="Name" name="Name" class="form-control" required readonly value="@Model?.Students[0].StudentNumber - @Model?.Students[0].StudentClass - @Model?.Students[0].StudentFirstName - @Model?.Students[0].StudentLastName - @Model?.Students[0].StudentClass - Room(@Model?.Students[0].StudentRoomId)"/>
            </div>
        </div>
        <div class="form-group row">
            <div class="form-group col-md-6 form-control-lg">
                <label for="Activity">Activity:</label>
                <input type="text" id="Activity" name="Activity" class="form-control" required readonly value="@Model?.Activities[0].ActivityName - Date: @Model?.Activities[0].Date - Time:(@Model?.Activities[0].Time))" />
            </div>
        </div>
        <div class="form-group row">
            <div class="form-group col-md-6 form-control-lg">
                <label for="ParticipateDate">Participate Date:</label>
                <input type="number" id="ParticipateDate" name="ParticipateDate" class="form-control" required readonly value="@Model?.Participator.ParticipateDate" />
            </div>
        </div>
        <div class="mx-1 my-4">
            <button type="submit" class="button-save">Delete Order</button>
        </div>
    </form>
</div>