@model List<MvcSomeren.Models.Participator>

@{
    ViewData["Title"] = "Participators Page";
}

<div class="text-center">
    <h1 class="display-4">Participators</h1>
    <a href="/Participators/Create" class="button-create" role="button"><span class="text">Create new</span><span>Create New</span></a>
    <p>Number of participators in the list: @Model.Count</p>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Participate Date</th>
                <th>Student Id</th>
                <th>Activity Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var participator in Model)
                {
                    <tr>
                        <td>@participator.ParticipateDate</td>
                        <td>@participator.StudentId</td>
                        <td>@participator.ActivityId</td>

                        <td>
                            <a href="/Participators/Edit/@participator.ParticipatorId" class="button-edit"><i class="bi bi-pencil-square"></i>Edit</a>
                            <a href="/Participators/Delete/@participator.ParticipatorId" class="button-delete"><i class="bi bi-trash3"></i>Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">